<div class="card">
  <div class="card-header">
    <h2 class="card-title">Flight Search</h2>
  </div>

  <div class="card-body">
    <app-flight-filter
      [filter]="filter"
      (searchTrigger)="bookingFeature.search($event)">

    </app-flight-filter>
  </div>
</div>

<div class="row">
  <div
    *ngFor="let flight of bookingFeature.flights$ | async"
    class="col-xs-12 col-sm-6 col-md-4"
  >
    <app-flight-card
      [item]="flight"
      [(selected)]="basket[flight.id]">
    </app-flight-card>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h2 class="card-title">Basket</h2>
  </div>

  <div class="card-body">
    <pre>{{ basket | json }}</pre>
  </div>
</div>
